@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; /* Agregar scroll-behavior para el desplazamiento suave */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

}


body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    height: 100vh;
}


.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    background-color: #ffffff; /* Cambia el color de fondo del contenedor */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.1); /* Agrega una sombra al contenedor */
    max-width: 600px;
    margin: 0 auto;
    margin-top: 120px;
}

.container h1 {
    color: #333; /* Cambia el color del encabezado h1 */
}

.container h2 {
    color: #777; /* Cambia el color del texto en h2 */
}


.container i{
    margin-top: 40px;
    font-size: 90px;
}
