@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
}


body{
    background-image: linear-gradient(to top, #92cfe2 0%, #ffffff 100%);
}


.wrapper{
    width: 700px;
    height: 1010px;
    background-image: linear-gradient(to top, #ffc880 0%, #ffde96 100%);
    box-shadow: 5px 5px 10px 2.2px #686868;
    /* Para centrar horizontalmente y verticalmente */
    margin: 0 auto;
    margin-top: 200px

}

.wrapper h1{
    color: #fff;
    font-weight: bold;
    /*Contenedor para mi h1*/
    background-color: #444141; /* Color de fondo negro */
    padding: 17px; /* Añade relleno alrededor del texto */
}


.articulos-relacionados{
    width: 700px;
    height: 187px;
    background-image: linear-gradient(to top, #ffc880 0%, #ffde96 100%);
    box-shadow: 5px 5px 10px 2.2px #686868;
    /* Para centrar horizontalmente y verticalmente */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}