/* ESTILOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth; /* Agregar scroll-behavior para el desplazamiento suave */
}







@keyframes fadeInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.animate-on-scroll {  /*definir la animación*/
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}




body {
  background: rgb(117,201,188);
  background: linear-gradient(90deg, rgba(117,201,188,1) 0%, rgb(139, 238, 212) 20%, rgb(88, 215, 147) 69%);
}

#menu-icon{
  display: none;  /*Quitar el icono de menu*/
}



header {
  display: flex; /* Utiliza flexbox para alinear elementos en una fila */
  align-items: center; /* Centra verticalmente los elementos */
}

/* _____________LOGO___________________ */
.logo {
  position: absolute;
  top: 50px;
  left: 80px;
  height: 160px;
}




/* _______________________AUTOMATIZANDO A SABIOS - TITULO_______________________ */
.titulo {
  position: absolute;
  align-items: center;
  text-align: center;
  top: 250px;
  left: 700px;
  z-index: -1;
}

.titulo h1 {
  font-size: 80px;
  margin: 0; /* Elimina todos los márgenes */
  animation: fadeInFromBottom 1.5s ease forwards; /* 1s de duración con una función de temporización "ease" */
}

.titulo p {
  
  font-weight: 400;
  margin: 0; /* Elimina todos los márgenes */
  animation: fadeInFromBottom 2.6s ease forwards; /* 1s de duración con una función de temporización "ease" */
}

/* _______________________LOGIN y REGISTER BOTON_______________________ */

.login #btnLogin-web{
  display: block;
  position: fixed;
  top: 20px; /* Ajusta la distancia desde la parte superior */
  right: 20px; /* Ajusta la distancia desde la derecha */
  display: inline-block;
  background-color: #cc8e2b; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Relleno interno del botón */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Alineación del texto */
  font-size: 16px; /* Tamaño de letra */
  text-decoration: none; /* Elimina el subrayado del enlace */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
}

.login #btnLogin-web:hover {
  background-color: #e37d00; /* Cambia el color de fondo al pasar el mouse */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.05); /* Aplica una escala del 105% al hacer hover */
  transition: 1s;
}


.login #btnLogin-mobile{
  display: none;
}

.login a {
  text-decoration: none;
  color: #fff;
}

.register #btnRegister {
  position: fixed;
  top: 20px; /* Ajusta la distancia desde la parte superior */
  right: 170px; /* Ajusta la distancia desde la derecha */
  display: inline-block;
  background-color: #59ace4; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 20px; /* Relleno interno del botón */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Alineación del texto */
  font-size: 16px; /* Tamaño de letra */
  text-decoration: none; /* Elimina el subrayado del enlace */
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
}

.register #btnRegister:hover {
  background-color: #519bd8; /* Cambia el color de fondo al pasar el mouse */
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.05); /* Aplica una escala del 105% al hacer hover */
  transition: 1s;
}

.register #btnRegister {
  text-decoration: none;
  color: #fff;
}

/*_______________________Estilos para la barra de búsqueda_______________________ */
#home .search-bar {
  position: fixed;
  top: 23px; /* Ajusta la distancia desde la parte superior */
  right: 320px; /* Ajusta la distancia desde la derecha */
  display: inline-block;
}

#home .search-bar #textbox {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  text-indent: 20px; /* Mueve el cursor 10px hacia la derecha */
}

/*icono de busqueda */
#home .search-bar #icono_busqueda {
  position: absolute;
  padding: 7px;
  color: #555;
}

/* _______________________BOTON DE HOME_______________________ */
#id-Home_icon {
  position: fixed;
  top: 20px; /* Ajusta la distancia desde la parte superior */
  left: 20px; /* Ajusta la distancia desde la derecha */
  font-size: 50px;
  font-style: none;
  outline: none; /* Quita el resaltado al hacer clic */
  color: #303440;
}

#id-Home_icon:active {
  background-color: #d0fff3;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(120, 10, 20, 0.2);
  transition: transform 0.3s; /* Agrega una transición suave para suavizar el efecto */
}

#id-Home_icon:hover {
  background-color: #bef8ff;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(120, 10, 20, 0.2);
  transform: scale(1.38); /* Aplica una escala del 105% al hacer hover */
  transition: transform 0.3s; /* Agrega una transición suave para suavizar el efecto */
  cursor: pointer;
}

/* _______________________MENU LATERAL_______________________ */
#nav-menu-desplegable{
  display: none;
}

#nav-menu-escritorio{
  display: block;
}

#nav-menu-escritorio {
  width: 320px;
}

#nav-menu-escritorio .list {
  width: 130%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: #fff;
}

#nav-menu-escritorio .list_item {
  font-size: 20px;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left; /* Alinea el texto a la izquierda */
}

#nav-menu-escritorio .list_button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

#nav-menu-escritorio .nav_link {
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

#nav-menu-escritorio .list_item:hover {
  background: #dbe8ec;
}




/* Estilos para el icono */

/* Estilos para el enlace cuando está activo */
#home:active {
  transition: transform 0.1s ease; /* Agrega una transición suave para suavizar el efecto */
}









/* _______________________ABOUT US_______________________ */
/* Estilos para la sección "Acerca de Nosotros" */
.acerca {
  background-color: #f9f9f9; /* Color de fondo */
  padding: 40px; /* Espaciado interno */
}

.acerca-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.acerca h1 {
  background-color: #535353; /* Fondo del título */
  color: #fff; /* Color del texto del título */
  padding: 10px 0;
  font-size: 28px; /* Tamaño del título */
  margin-bottom: 20px; /* Espaciado inferior */
  animation: fadeInFromBottom 1s ease forwards; /* 1s de duración con una función de temporización "ease" */
}

.acerca-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.acerca #subtitulo-quienes-somos{
  font-size: 55px; /* Reducir el tamaño del título */
  animation: fadeInFromBottom 1s ease forwards; /* 1s de duración con una función de temporización "ease" */
}


.acerca #infoQuienesSomos{
  font-size: 20px;
}

.acerca #subtitulo-mision{
  font-size: 40px;
}

.acerca #infoMision{
  font-size: 19px;
}


.acerca #subtitulo-vision{
  font-size: 40px;
}

.acerca #infoVision{
  font-size: 19px;
}

.acerca #subtitulo-valores{
  font-size: 40px;
}

.acerca .valores-wrapper{
  font-size: 19px;

}




#img-About-Us {
  max-width: 70%; /* Hacer que la imagen sea responsiva */
  margin: 20px 0;
}


#subtitulo-quienes-somos{
  font-size: 24px;
}


#infoQuienesSomos {
  font-size: 16px; /* Tamaño del texto */
  text-align: center;
  margin: 20px 0;
  margin-bottom: 60px;
}



.acerca #icono{
  color: rgb(204, 74, 255);
}


#linea-divisora{
  width: 700px;
  height: 0;
}

#subtitulo-mision{
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 10px;
}

#subtitulo-vision{
  font-size: 20px;
  margin-bottom: 10px;
}

#subtitulo-valores{
  font-size: 20px;
  margin-bottom: 15px;
}


#infoMision {
  margin-bottom: 70px; /* Establece el margen inferior solo para #infoMision */
}

#infoVision {
  margin-bottom: 70px; /* Establece el margen inferior solo para #infoVision */
}





/* Estilos para la sección "Valores" */
.valores-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente fila */
  gap: 45px; /* Espaciado entre los valores */
  justify-content: space-between; /* Alinea los valores al principio y al final del contenedor */
}

.valor {
  flex-basis: calc(50% - 25px); /* Establece el ancho de cada valor a aproximadamente el 50% del contenedor, restando el espacio entre los valores */
  margin-bottom: 25px; /* Espacio vertical entre los valores */
}


/* Estilo para los iconos */
.valor i {
  font-size: 24px; /* Tamaño del ícono */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

#icono {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
}


/* Estilo para las imágenes de los valores */
.valor img {
  max-width: 100%; /* Hace que las imágenes se ajusten al ancho de su contenedor */
}












/* _______________________SERVICIOS_______________________ */
/* Estilos para la caja de color */
.box-services {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: auto; /* Cambia la altura a "auto" para adaptarse al contenido */
}

.services {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 20px;
}

.services h2 {
  font-size: 70px;
  margin-bottom: 60px;
  padding: 20px;
}

.service-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los servicios se ajusten automáticamente en varias filas */
  justify-content: space-around; /* Espacio uniforme entre los servicios */
}

.service {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: calc(50% - 10px); /* Ancho del 50% con espacio entre los servicios */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px; /* Espacio entre los servicios */
  transition: all 0.3s; /* Agrega transición para el efecto hover */
}

.service:hover {
  background-color: #d0faff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}


/* Agrega estos estilos para los iconos */
.service i {
  font-size: 36px; /* Tamaño del icono */
  color: #007BFF; /* Color del icono */
  margin-bottom: 10px; /* Espacio entre el icono y el texto */
}





/* _______________________AYUDA_______________________ */


/* mi div */
.page-container {
  min-height: 100vh; /* que ocupe todo el tamano de la pagina*/
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

/* Estilos para la barra de búsqueda */
.contenedor-principalAYUDA #search-input {
  padding: 10px;
  border: 1px solid #7c7c7c; /* Borde sólido de color gris claro */
  border-radius: 25px;
  width: 110%; /* Anchura flexible */
  transition: all 0.3s; /* Transición para el enfoque */
  background: url('ruta-del-icono-lupa.png') no-repeat right center; /* Agregar el ícono de búsqueda a la derecha del campo */
  background-size: 20px 20px; /* Ajustar el tamaño del ícono según tus necesidades */
  text-indent: 27px; /* Mueve el cursor 10px hacia la derecha */
  margin-bottom: 23px;
  font-size: 18px;
  
}

.contenedor-principalAYUDA .search-barAYUDA #icono-search{
  position: absolute;
  padding: 10px;  /*verticalmente como se acomoda*/
  color: #555;
}

#search-input:focus {
  border: 1px solid #007BFF; /* Cambio de estilo cuando enfocado */
  outline: none; /* Elimina el borde predeterminado de enfoque */
}

/* Placeholder más descriptivo */
#search-input::placeholder {
  color: #888; /* Color de marcador de posición */
}



.contenedor-principalAYUDA #ayudaTitulo {
  padding-bottom: 60px;
}

.contenedor-principalAYUDA {
  margin-left: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  min-height: 80vh; /* Ajusta el valor según tus necesidades */
  background-color: #fff;
  border-radius: 30px; /* aqui asigna un border radius */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  padding: 20px;
  max-width: 500px; /* meter las cajas en mi caja principal */
}

/* Estilos para las diferentes secciones de ayuda */
.help-section {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 4, 0.1); /* horizontal-offset es la distancia horizontal de la sombra 
    desde el elemento. vertical-offset es la distancia vertical de la sombra desde el elemento. 
    blur es la cantidad de desenfoque aplicado a la sombra. spread es la cantidad de expansión de la sombra. color es el color de la sombra.*/
  margin: 10px;
  max-width: 500px; /* meter las cajas en mi caja principal */
  cursor: pointer;
  margin-bottom: 30px; /* Agregar margen inferior entre secciones */
}

.help-section:hover {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.05); /* Aplica una escala del 105% al hacer hover */
  transition: 1s;
}

.help-section i {
  font-size: 36px;
  margin-bottom: 10px;
  color: #007bff;
}

/* Estilos para los íconos (usando la biblioteca Boxicons) */
.bx {
  font-size: 24px;
}

/* _______________________Estilos para la sección 2 de Ayuda_______________________ */
.seccion2AYUDA {
  margin-top: -30px;
  min-height: 60vh; /*maxima altura de la pagina en esta seccion*/
  background-image: linear-gradient(120deg, #fdfbfbe8 50%, #ebedeec2 100%);
  border-radius: 30px;
  border-color: #1f1f1f;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.seccion2AYUDA h1 {
  font-size: 38px;
  margin: 20px auto 10px;
  text-align: center;
}

.seccion2AYUDA ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto 10px;
  text-align: left;
}

/* Estilo para las flechas dentro de los elementos de la lista */
.seccion2AYUDA .item-lista i {
  margin-right: 10px;
  font-size: 18px;
}

.seccion2AYUDA .item-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; /* Centra horizontalmente */
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 300px;
}

.seccion2AYUDA .item-lista a{
  text-decoration: none;
  color: #1f1f1f;
}

.seccion2AYUDA .item-lista a:hover {
  color: #0056b3;
  text-decoration: underline; /* Subraya el enlace al hacer hover */
}

.seccion2AYUDA h2 {
  font-size: 20px;
  margin-top: 20px;
}

.seccion2AYUDA p {
  font-size: 16px;
  margin-top: 10px;
}

.seccion2AYUDA #comunity button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 0; /* Alinea el botón al centro */
}

.seccion2AYUDA #comunity button:hover {
  background-color: #0056b3;
}

/* Contenedores */
.seccion2AYUDA #comunity {
  /* CREAR CONTENEDOR */
  width: 600px; /* Ancho del contenedor */
  height: 200px; /* Altura del contenedor */
  background: linear-gradient(
    60deg,
    #64b3f4 0%,
    #c2e59c 100%
  ); /* Color de fondo con degradado */
  border: 1px solid #ccc; /* Borde del contenedor */
  padding: 20px; /* Relleno interno del contenedor */
  margin: 20px; /* Margen exterior del contenedor */
  color: #fff; /* Color de texto dentro del contenedor */
  /* POSICIONAMIENTO*/
  margin-top: 100px;
  margin-left: 650px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.seccion2AYUDA #comunity h2 {
  font-size: 38px;
  box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.3);
}





/* _______________________REVIEWS_______________________ */
/* Estilos generales para la sección de reseñas */
.reviews-section {
  background-color: #f9f9f9;
  padding: 20px;
}

.reviews-wrapper h1 {
  background-color: #535353;
  color: #fff;
}

.reviews-wrapper {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.reviews-wrapper #estrella {
  color: rgb(64, 196, 178);
}

/* Estilos para cada reseña */
.review {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 30px 0; /* Mayor margen entre reseñas */
}

.review i.fa-regular.fa-user {
    color: #007bff; /* Cambia el color del ícono de usuario */
    font-size: 24px; /* Tamaño de fuente más grande para el ícono de usuario */
  }

.review h3 {
  font-size: 18px;
  margin: 0;
}

.review p {
  font-size: 16px;
  margin: 10px 0;
}

.review h1 {
  font-size: 24px;
  margin: 20px 0;
}




/* _______________________FOOTER - CONTACTO_______________________ */
/* Estilos para el footer */
#footer {
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color del texto */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  overflow: visible;
}

/* Estilos para los íconos de redes sociales */
.social-media a {
  color: #fff; /* Color del ícono de la red social */
  font-size: 24px; /* Tamaño del ícono */
  margin: 0 10px; /* Espaciado horizontal entre íconos */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para el número de teléfono */
.social-media .bx.bxs-phone-call {
  display: block; /* Hace que el número sea un elemento de bloque */
  font-size: 20px; /* Tamaño del número de teléfono */
  margin-top: 10px; /* Espaciado superior */
}

/* Estilos para los íconos de contacto */
.social-media .bx.bxs-user-voice,
.social-media .bx.bx-user-circle {
  font-size: 24px; /* Tamaño de los íconos de contacto */
  margin-top: 10px; /* Espaciado superior */
}

#aviso {
  font-size: 12px;
  color: #64b3f4;
}




@media screen and (max-width: 768px) {

  header{
    position: fixed;
    background: rgb(255, 255, 255);
    height: 90px;
    width: 100%;
    display: inline-block;
    z-index: 2;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.23);  /* sombreado */
  }

  body header {
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  }






/*___________________________ AJUSTAR EL RECORRIDO de la página cuando se hace clic en un enlace __________________________________*/
  /* Define un margen superior igual a la altura del header para las secciones objetivo */
  #acerca-page {
    scroll-margin-top: 90px; /* Ajusta esto al valor de la altura del header */
  }


  #seccion-servicios-pagina{
    scroll-margin-top: 90px; /* Ajusta esto al valor de la altura del header */
  }

  #help{
    scroll-margin-top: 120px; /* Ajusta esto al valor de la altura del header */
  }
/*______________________________________________________________________________________________________________________________*/



  .register #btnRegister{
    display: none;
  }


  .login #btnLogin-web{
    display: none;
  }
  
  .login #btnLogin-mobile{
    display: block;
    position: fixed;
    top: 25px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    display: inline-block;
    background-color: #cc8e2b; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Relleno interno del botón */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    font-size: 16px; /* Tamaño de letra */
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    margin-right: 65px;
  }



  .titulo {
    position: static; /* Cambia a posición estática */
    top: auto; /* Elimina la propiedad top */
    left: auto; /* Elimina la propiedad left */
    z-index: auto; /* Elimina la propiedad z-index */
    text-align: center; /* Alinea el texto al centro */
    
  }


  body .titulo h1{
    font-size: 50px;
    margin-left: 200px;
    text-align: center; /* Centra el texto horizontalmente */
  }


  body .titulo p{
    font-weight: 500;
    color: #161616;
    font-size: 30px;
    text-align: center; /* Centra el texto horizontalmente */
  }






/* _______________________MENU DESPLEGABLE_______________________ */



#nav-menu-desplegable{
  display: block;
}

#nav-menu-escritorio{
  display: none;
}



#menu-icon {
  text-decoration: none;
  text-align: center;
  display: block; /* Mostrar el icono de menú */
  position: fixed; /* Posición fija para mantenerlo en su lugar */
  top: 23px; /* Ajustar la distancia desde la parte superior según tu preferencia */
  right: 20px; /* Ajustar la distancia desde la derecha según tu preferencia */
  z-index: 999; /* Establecer un índice z alto para asegurarse de que esté en la parte superior */
  width: 13%; /*acnho de mi wrapper*/
  font-size: 39px;  /*heiht de mi icono*/
  border: solid #535353;
  background-color: hsl(169, 100%, 81%);
    /* Cambia el color de la imagen */
  border-radius: 10px;
  color: #161616;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.23);  /* sombreado */
}

#menu-icon {
  transition: transform 0.3s ease;
}


#menu-icon.active {
  transform: rotate(180deg); /* Rota el icono cuando el menú está abierto */
}




#nav-menu-desplegable{  /*div*/
  position: fixed;
  height: 75vh;
  width: 100%;
  background: rgb(218, 255, 180);
  background: linear-gradient(47deg, rgba(218, 255, 180, 1) 12%, rgba(116, 227, 210, 1) 100%);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1;
  margin-top: 90px;
  animation: fadeInFromBottom 0.8s ease forwards; /* 1s de duración con una función de temporización "ease" */
}


/*-----logo--------*/
#nav-menu-desplegable .logo{
    position: absolute;
    top: 580px;
    left: 150px;
    height: 17%;
  }

/*------------------*/
#nav-menu-desplegable .list_item {  /* mis enlaces */
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    animation: fadeInFromBottom 1.5s ease; /* 1s de duración con una función de temporización "ease" */
  }

#nav-menu-desplegable .list_item a{ /* mi enlace texto */
    color: #333; /* Gris oscuro */
    text-decoration: none;
  }



  /* ______________________________________________ */






  /* ___________________TITULO___________________________ */
  .titulo h1 {
    margin-top: 190px;
    position: absolute;
    left: -200px;
    font-size: 48px;
    align-items: center;
    font-weight: 800;

  }

  .titulo p {
    position: relative;
    left: -30px;
    margin: 30px; /*ajustar el texto para que no se vea como tipo lista y que se vea como un parrafo*/
    font-size: 20px;
    font-weight: 300;
    margin-top: 350px;
    margin-left: 80px;

  }

  .logo {
    height: 100px;
    margin-top: -100px;
    left: 30px; /* Ajusta la posición izquierda según tu preferencia SIN ESPACIOS EN BLANCOS!!!! */

  }

  #home .search-bar {
    position: relative; /*para poder controlar las posiciones agusto*/
    left: 78px; /*muevete a partir de la izquierd, dejando pixeles*/
    border: solid gray;
    border-radius: 30px;
    width: 28%;
  }

  #home .search-bar #textbox {
    position: relative;
    left: -409px;
    bottom: -100px;
    width: 170px;
    border-radius: 15px;
  }

  /*icono de busqueda */

  /*__________________________________________*/
  .acerca #img-About-Us {
    max-width: 100%; /* Hacer que la imagen sea responsiva */
    margin: 20px 0; /* Ajustar el margen entre la imagen y el texto */
  }

  .acerca h1 {
    font-size: 30px; /* Reducir el tamaño del título */
    text-align: center; /* Centrar el texto */
    margin: 15px 0; /* (margen superior e inferior),(margen izquierdo y derecho) */
  }

  .acerca p {
    text-align: center; /* Centrar el texto */
    margin: 10px 0; /* margen superior e inferior */
  }

  /*__________________________VALORES________________________________*/
  .acerca .valores-wrapper .valor{
    background-color: #fcfcfc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    flex-basis: calc(100% - 0px); /* Establece el ancho de cada valor a aproximadamente el 50% del contenedor, restando el espacio entre los valores */
    margin-bottom: 25px; /* Espacio vertical entre los valores */
    transition: all 0.3s; /* Agregar una transición suave para los cambios */
  }

  .acerca .valores-wrapper .valor:hover {
    background-color: #beedff; /* Cambiar el color de fondo a azul claro al pasar el ratón */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); /* Aumentar la sombra al pasar el ratón */
    transform: scale(1.1); /* Aumentar el tamaño al pasar el ratón */
  }








  /*___________________SERVICIOS_______________________*/
  
  .service {
    flex: 1;
    width: 100px;
    margin: 40px; /* Espacio entre los servicios */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s;
  }

  box-services{
    margin-top: 20px;
  }






  /*_______________AYUDA___________________________*/

  /* Estilos para la seccion de ayuda en dispositivos móviles */
  .contenedor-principalAYUDA {
    margin-top: 70px;
    margin-left: 20px; /* Alinear el contenido al borde izquierdo de la pantalla */
    margin-right: 20px; /* Alinear el contenido al borde derecho de la pantalla */
    border-radius: 0; /* Quitar el borde redondeado para que se vea más rectangular */
    text-align: center;
  }

  .help-section {
    margin: 10px; /* Añadir un poco de espacio entre las secciones de ayuda */
    padding: 10px; /* Añadir espacio interno para que el contenido respire */
    max-width: 100%; /* Asegurarse de que las secciones ocupen el ancho completo de la pantalla */
  }

  .help-section i {
    font-size: 24px; /* Reducir el tamaño de los íconos en dispositivos móviles */
  }

  .bx {
    font-size: 18px; /* Reducir el tamaño de los íconos Boxicons en dispositivos móviles */
  }

  /*__________________________________________*/

  .seccion2AYUDA {
    margin: 10px; /* Añadir espacio entre las secciones */
    padding: 10px; /* Añadir espacio interno */
    border-radius: 0; /* Quitar el borde redondeado */
  }

  .seccion2AYUDA h1 {
    font-size: 28px; /* Ajustar el tamaño del título */
  }

  .seccion2AYUDA ul {
    margin: 10px 0; /* Añadir espacio entre la lista y otros elementos */
  }

  .seccion2AYUDA .item-lista {
    margin-left: 0; /* Eliminar el margen izquierdo para alinear el texto a la izquierda */
  }

  .seccion2AYUDA .item-lista i {
    font-size: 20px; /* Reducir el tamaño de los íconos en los elementos de la lista */
  }

  .seccion2AYUDA h2 {
    font-size: 18px; /* Ajustar el tamaño del subtítulo */
  }

  .seccion2AYUDA p {
    font-size: 14px; /* Reducir el tamaño del texto */
  }

  .seccion2AYUDA #comunity {
    margin: 10px; /* Añadir espacio entre el contenedor de comunity y las secciones de ayuda */
    flex-basis: calc(20% - 10px); /* Ancho de 20% para hacerlo más pequeño */
    width: 300px; /* Ancho del contenedor */
    height: 200px; /* Altura del contenedor */
  }

  .seccion2AYUDA #comunity button {
    margin-top: 5px; /* Añadir espacio superior al botón */
    font-size: 14px; /* Ajustar el tamaño del texto del botón */
  }

  .seccion2AYUDA #comunity h2 {
    font-size: 12px; /* Ajustar el tamaño del subtítulo */
  }
  .search-barAYUDA {
    width: 300px;
    height: 50px;
    padding: 20px;
  }


  .contenedor-principalAYUDA #search-input{
    margin-bottom: 6px;
  }

  .help-section{
    margin-top: 50px;
  }

  /*__________________________________________*/
}











